version: 2.1

orbs:
  node: circleci/node@5.0

jobs:
  sonar_scan:
    docker:
      - image: circleci/node:20
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            cd payments-backend
            npm install
      - run:
          name: Install SonarScanner
          command: |
            npm install -g sonar-scanner
      - run:
          name: Run SonarQube Scan
          command: |
            sonar-scanner \
              -Dsonar.organization=$SONAR_ORG \
              -Dsonar.projectKey=$SONAR_PROJECT_KEY \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  version: 2
  build_and_sonar:
    jobs:
      - sonar_scan
